name: SecureVault CI/CD Pipeline

on:
  push:
    branches: [ "master" ]

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Grant execute permission for gradlew
      run: chmod +x backend/secure-api/gradlew

    - name: Build with Gradle
      run: |
        cd backend/secure-api
        ./gradlew clean build -x test

    # Docker Hub'a Giriş Yap (Token Secrets'tan gelecek)
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # İmajı Oluştur ve Gönder (Push)
    - name: Build and Push Docker Image
      uses: docker/build-push-action@v4
      with:
        context: ./backend/secure-api
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/securevault-backend:latest
